#img-perfil{
    width: 300px;
}

#img-stack{
    width: 200px;
}

.bg-primary{
  background-color: #198754 !important;
}

.nav-link{
    color: #0b4228 !important;
}

.text-bg-primary{
    background-color: #198754 !important;
}

.titulo-proyecto{
    text-shadow: 2px 2px 1px #000000;
}



#proyecto-1{
    background-image: url('images/proyecto-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

